<configuration>
  <springProperty name="APP_NAME" source="loki.app" defaultValue="taskmanager" />
  <springProperty name="LOKI_URL" source="loki.url" defaultValue="http://localhost:3100/loki/api/v1/push" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <springProfile name="loki">
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
      <http>
        <url>${LOKI_URL}</url>
      </http>
      <format>
        <label>
          <pattern>app=${APP_NAME},level=%level</pattern>
        </label>
        <message>
          <pattern>%msg</pattern>
        </message>
      </format>
    </appender>
    <root level="INFO">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="LOKI" />
    </root>
  </springProfile>

  <springProfile name="!loki">
    <root level="INFO">
      <appender-ref ref="CONSOLE" />
    </root>
  </springProfile>
</configuration>